@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

:root {
  --bg-rare: #ed0000;
  --main-bg-color: #1b1b1b;
  --secondary-bg-color: #252525;
  --titary-bg-color: #c8c8c8;
  --main-text: #ffff;
  --dark-text: #000;
  --secondary-text: #ed0000;
  --titiary-text: #c8c8c8;
}
@font-face {
  font-family: Gemsbuck;
  src: url(/assets/fonts/GemsBold.ttf);
}
@font-face {
  font-family: GemsbuckBoldOblique;
  src: url(/assets/fonts/GemsBoldOblique.ttf);
}

@font-face {
  font-family: ProximaNovaBlack;
  src: url(/assets/fonts/ProximaBlack.otf);
}
@font-face {
  font-family: ProximaNovaBold;
  src: url(/assets/fonts/ProximaBold.otf);
}
@font-face {
  font-family: ProximaNovaThin;
  src: url(/assets/fonts/ProximaThin.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.bg-rare {
  background-color: var(--bg-rare);
}
.bg-main {
  background-color: var(--main-bg-color);
}
.bg-secondary {
  background-color: var(--secondary-bg-color);
}
.bg-titary {
  background-color: var(--titary-bg-color);
}
.text-main {
  color: var(--main-text);
}
.text-secondary {
  color: var(--secondary-text);
}
.text-titiary {
  color: var(--titiary-text);
}
.text-black {
  color: var(--dark-text);
}

a {
  text-decoration: none;
  color: initial;
}
.title-font,
.text-style-gemsbuck,
.credit {
  font-family: Gemsbuck;
}
.title-font-two,
.text-style-proximaB {
  font-family: ProximaNovaBold;
}

.object-cover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100%;
}

.team-img {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 720px) {
  .title-font,
  .hero-two {
    padding-top: 2rem;
  }
  .coaches-resp {
    display: block;
    margin: 0 auto;
  }
  .object-cover {
    border-radius: 10%;
  }
}
.resultBMI {
  height: 443px;
  margin-top: 3rem;
}
.resultBMI h1 {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  font-family: Gemsbuck;
  color: #000000;

  width: 100%;
}
.result-image {
  display: block;
  margin: 10% auto;
  width: 290px;
}
.spanBMI {
  margin: 7rem;
  font-size: 3rem;
}
